@use "../util" as *;

.card {
    background-color: var(--white);
    padding: rem(16);
    text-align: center;
    border-radius: rem(16);
    box-shadow: 0 rem(10) rem(20) 0 #00000020;

    &__image {
        width: 100%;
        border-radius: rem(10);
    }

    &__text {
        padding: rem(16);

    }

    &__header {
        padding-bottom: 0;
    }
}